body {
    padding: 20px;
}

pre {
    border-left: 3px solid rgba(0, 0, 0, 0.21);
    padding-left: 12px;
    background-color: rgba(31, 31, 31, 0.76);
}



.list {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 4px;

    .list-item {
        border-radius: 4px;
        padding: 8px;
        background-color: rgb(221, 242, 255);
    }
}

.bottom-margin {
    margin-bottom: 40px;
}

.top-margin {
    margin-top: 40px;
}

.separator {
    margin: 30px 0;
    border-bottom: 1px solid #ccc;
}

tr {
    border-bottom: 1px solid #ccc;
}

td {
    padding: 4px 40px 4px 0;
}

markdown {

    h2,
    h3 {
        margin-bottom: 20px;
        font-weight: bold;
    }

    ul {
        margin: 10px 0;
    }

    li {
        list-style: circle;
        margin-left: 20px;
    }

    ol {
        margin: 10px 0;

        li {
            list-style: decimal;
        }
    }
}